/* src/App.css */

.portfolio-container {
    /* Opcional: Define a largura máxima do seu layout para telas grandes */
    max-width: 1900px; 
    margin: 0 auto;
    min-height: 100vh; /* Garante que o container ocupa toda a altura */
    display: flex;
    flex-direction: column;
}

.main-content {
    flex-grow: 1; /* Permite que o conteúdo principal ocupe o espaço restante */
    /* LINHA ADICIONADA: Compensação para o Header Fixo (Smart Header) */
    padding-top: 5rem; 
    padding: 2rem 1.5rem;
}

.main-content h1 {
    color: var(--color-primary-light);
    margin-bottom: 1rem;
}